*.pt
*.zip
*.pyc
*.DS_Store
INFERENCED_IMAGES_DIR/
OUTPUT_DIR/
JeevitNadi/
PATCH_IMAGES_DIR/
media/quicklooks/
mapshow/settings.py
mapshow/__pycache__/
maps/.env
maps/node_modules/
userUpload/
*.sqlite3
build/
media/*
staticfiles/
map_app/stat.py
*/migrations/*
media/earth_engine_cache
media/chatbotcsv/*
prod_db_backups/
*.tar
.env
*.tif
*.log
*.rdb
*.out
abc.conf
config_files/
test.py
trash.py
test.ipynb
clear_pycache_files.py

Agrani/
Baseline/
Malegaon/
Manyaad/
Satara/
prod_db_backup
hf_cache/
prod_db_backups/config_files/
config_files/
.env
map_app/geoserver_func.py
config_files/
.env
