affine==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
aniso8601==9.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
anywidget==0.9.13
APScheduler==3.10.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.35.37
botocore==1.35.37
bqplot==0.12.43
branca==0.8.0
cachelib==0.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
channels==4.1.0
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
color-operations==0.1.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cryptography==43.0.1
cycler==0.12.1
dataclasses-json==0.5.8
decorator==5.1.1
Deprecated==1.2.14
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
Django==5.1.2
django-cors-headers==4.4.0
django-phonenumber-field==8.0.0
django-phonenumbers==1.0.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
duckdb==1.1.1
earthengine-api==1.1.3
eerepr==0.0.4
et-xmlfile==1.1.0
executing==2.1.0
filelock==3.16.1
fiona==1.10.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==5.0.0
flask-restx==1.3.0
folium==0.17.0
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
GDAL==3.9.2
gdown==5.2.0
geemap==0.34.5
GeoAlchemy2==0.15.2
geocoder==1.38.1
geojson==3.1.0
geopandas==0.14.4
geoserver-rest==2.8.3
google==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.66.2
grpcio-status==1.66.2
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.25.2
hydra-core==1.3.2
idna==3.10
imageio==2.35.1
importlib_resources==6.4.5
iopath==0.1.10
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipympl==0.9.4
ipython==8.28.0
ipython-genutils==0.2.0
ipytree==0.2.2
ipyvue==1.11.1
ipyvuetify==1.10.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-google-genai==2.0.1
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
langsmith==0.1.133
lazy_loader==0.4
leafmap==0.38.5
llama-index-core==0.11.17
llama-index-embeddings-huggingface==0.3.1
llama-index-llms-langchain==0.4.2
llama-index-vector-stores-postgres==0.2.6
localtileserver==0.10.4
MarkupSafe==3.0.1
marshmallow==3.22.0
marshmallow-enum==1.5.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
minijinja==2.2.0
minio==7.2.9
more-itertools==10.5.0
morecantile==5.4.2
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
openai==1.51.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
orjson==3.10.7
packaging==24.1
pandas==2.2.3
parso==0.8.4
patool==3.0.1
pexpect==4.9.0
pgvector==0.2.5
phonenumbers==8.13.47
phonepe==1.0.1
phonepe-sdk==1.1.0
pillow==10.4.0
plotly==5.24.1
portalocker==2.10.1
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.24.0
protobuf==5.28.2
psutil==6.0.0
psycopg2-binary==2.9.9
psygnal==0.11.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.8
pycparser==2.22
pycryptodome==3.18.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
Pygments==2.18.0
pygsheets==2.0.6
PyJWT==2.9.0
pyogrio==0.10.0
pyparsing==3.1.4
pyperclip==1.9.0
pyproj==3.7.0
pyshorteners==1.0.1
pyshp==2.3.1
PySocks==1.7.1
pystac==1.11.0
pystac-client==0.7.7
python-box==7.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
rasterio==1.4.1
ratelim==0.1.6
referencing==0.35.1
regex==2024.9.11
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rio-cogeo==5.3.6
rio-tiler==6.7.0
rioxarray==0.17.0
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.3
safetensors==0.4.5
sam2==0.4.1
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
scooby==0.10.0
seaborn==0.13.2
segment-anything-hq==0.3
segment-anything-py==1.0.1
segment-geospatial==0.11.5
sentence-transformers==3.1.1
server-thread==0.2.0
shapely==2.0.6
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.35
sqlparse==0.5.1
stack-data==0.6.3
sympy==1.13.3
tenacity==8.4.1
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
timm==1.0.9
tokenizers==0.20.0
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
traitlets==5.14.3
traittypes==0.2.1
transformers==4.45.2
turfpy==0.0.7
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ultralytics==8.3.9
ultralytics-thop==2.0.9
up42-py==2.1.0
uritemplate==4.1.1
urllib3==1.26.12
uvicorn==0.31.1
wcwidth==0.2.13
Werkzeug==3.0.4
whitebox==2.3.5
whiteboxgui==2.3.0
widgetsnbextension==4.0.13
wrapt==1.16.0
xarray==2024.9.0
xmltodict==0.14.1
xyzservices==2024.9.0
yarl==1.14.0
zipfile36==0.1.3
celery
redis
django-celery-results